section.module-content#grid-distribution

  .row
    .cell.cell-sm.unstyled

      section.module-section
        header
          //- h3.module-title #{distribution_between}
          p.module-description #{distribution_between_description}

        article

          .cells-container.text-center
            .row.distribute-between
              .cell.cell-xs-3 distribute-between
              .cell.cell-xs-3 distribute-between
              .cell.cell-xs-3 distribute-between

    .margin.mv16

    .cell.cell-sm.unstyled

      section.module-section
        header
          //- h3.module-title #{distribution_around}
          p.module-description #{distribution_around_description}

        article

          .cells-container.text-center
            .row.distribute-around
              .cell.cell-xs-3 distribute-around
              .cell.cell-xs-3 distribute-around
              .cell.cell-xs-3 distribute-around

  .margin.mh16

  .row
    .cell.unstyled

      section.module-section
        header
          h3.module-title #{distribution_viewport}
          p.module-description #{distribution_viewport_description}

        article

          .cells-container.text-center
            .row.distribute-around.distribute-sm-between.distribute-md-around.distribute-lg-between
              .cell.cell-xs-3
                .visible-xs distribute-xs-around
                .visible-sm distribute-sm-between
                .visible-md distribute-md-around
                .visible-lg distribute-lg-between

              .cell.cell-xs-3
                .visible-xs distribute-xs-around
                .visible-sm distribute-sm-between
                .visible-md distribute-md-around
                .visible-lg distribute-lg-between

              .cell.cell-xs-3
                .visible-xs distribute-xs-around
                .visible-sm distribute-sm-between
                .visible-md distribute-md-around
                .visible-lg distribute-lg-between
