!!! 5

include dictionary

html(lang="en")
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title #{ name } | #{ description }

    meta(name='description', content='A simple to use 12/24 columns Grid created with CSS Flex in SASS. Crafted with love by Vlad Radulescu @ Studio51')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='css/main.min.css')

  body.body

    header.header
      .grid
        .row
          .cell.cell-xs-12.cell-sm-3

            .row
              .cell.cell-xs-12
                .brand
                  h1.brand-name #{ name }
                    span.brand-name--pronunciation /ɡrɪd.lɛx/

                  p.brand-motto #{ description }

            .row
              .cell.cell-xs-12

                nav.nav-menu(role='navigation')
                  ul.list-unstyled

                    - var nav_items = ['basic', 'responsive', 'fluid', 'offset', 'nested', 'auto', 'alignment', 'distribution', 'reversed', 'reordered']
                    - var i = 1

                    each val in nav_items

                      li(class="list-item animated-#{i++}")
                        a.btn.btn-sm.list-item-link(href="#", data-target="#grid-#{val}") #{val}

            .row
              .cell.cell-xs-12
                .social-buttons--container
                  ul.social-buttons

          .cell.cell-xs-12.cell-sm-9

            .pca-hold
              .pca-main
                .pca-inner

                  include templates/device-content.jade

              .pca-sub
                .pca-top
                .pca-mid
                  .pca-part

                .pca-bot

    main.main
      .grid

        include templates/basic-grid.jade
        include templates/responsive-grid.jade
        include templates/fluid-grid.jade
        include templates/offsets-grid.jade
        include templates/nested-grid.jade
        include templates/auto-grid.jade
        include templates/alignment-grid.jade
        include templates/distribution-grid.jade
        include templates/reversed-grid.jade
        include templates/reordering-grid.jade

    footer.footer

      .grid

        .row
          ul.footer-links
            li
              a(href="//github.com/studio51/gridlecss/blob/master/DOCUMENTATION.md") Documentation
            li
              a(href="//github.com/studio51/gridlecss/blob/master/CHANGELOG.md") Changelog
            li
              a(href="//github.com/studio51/gridlecss/releases/tag/v#{version}") #{ name } v#{version}

        hr

        .row
          .cell.cell-xs-12.cell-sm-4
            p.footer-copyright
              © #{ name } 2015

          .cell.cell-xs-12.cell-sm-8
            <p class="footer-credits">Crafted with <span>&#9829;</span> by <a href="//twitter.com/pacMakaveli90">Vlad Radulescu</a> and maintained by <a href="//creative-studio51.co.uk">Studio51</a>

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/main.min.js')
